<div>
  <h1>Create Account</h1>
  <h3>Register Here</h3>

  <form
    name="form"
    (ngSubmit)="onSubmit()"
    #f="ngForm">

    <div>
      <label for="username">Username</label><br>
      <input
        type="text"
        name="username"
        [(ngModel)]="form.username"
        required
        #username="ngModel" />
    </div>

    <br>

    <div>
      <label for="password">Password</label><br>
      <input
        type="password"
        name="password"
        [(ngModel)]="form.password"
        required
        #password="ngModel" />
    </div>

    <br>

    <div>
      <label for="firstName">First Name</label><br>
      <input
        type="text"
        name="firstName"
        [(ngModel)]="form.firstName"
        required
        #firstName="ngModel" />
    </div>

    <br>

    <div>
      <label for="lastName">Last Name</label><br>
      <input
        type="text"
        name="lastName"
        [(ngModel)]="form.lastName"
        required
        #lastName="ngModel" />
    </div>

    <br>

    <button type="submit">Submit</button>

  </form>
</div>